[Unit]
Description=Apache Kafka (KRaft)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ kafka_user }}
Group={{ kafka_group }}
Environment="KAFKA_HEAP_OPTS={{ kafka_heap_opts }}"
ExecStart={{ kafka_install_dir }}/bin/kafka-server-start.sh {{ kafka_install_dir }}/config/server.properties
ExecStop={{ kafka_install_dir }}/bin/kafka-server-stop.sh
Restart=on-failure
RestartSec=3
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
